@{ ViewBag.Title = "Trang Chủ"; }
<h2 style="text-align:center; color: #555; margin-top: 50px; font-size: 2em; font-weight: 300;">Chào mừng đến với SHOP</h2>
<p style="text-align:center; color: #777; font-size: 1.1em;">Vui lòng chọn nhóm thiết bị bên trái để xem sản phẩm.</p>